.container {
  display: flex;
  flex-direction: column;

  .cover-input-password {
    #input-password {
      width: 240px;
      height: 20px;
      padding-left: 5px;
      border: 1px solid black;
      border-radius: 3px;
    }
  }

  .strength-elems {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;

    .element {
      flex: 1;
      height: 10px;
      border: none;
      border-radius: 3px;
      background: gray;
    }
  }

  .show-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    #visibility-checkbox {
      width: 17px;
      height: 17px;
    }
  }
}
