<div class="container">
  <div class="cover-input-password">
    <input type="password" id="input-password" #inputVal (input)="checkPasswordStrength(inputVal.value)" >
  </div>
  <div class="strength-elems">
    <div id="first" class="element first"></div>
    <div id="second" class="element second"></div>
    <div id="third" class="element third"></div>
  </div>
  <div class="show-password">
    <input type="checkbox" id="visibility-checkbox" (change)="changePasswordVisibility($event)">Show Password
  </div>
</div>
