.container{
  display: flex;
  flex-direction: column;
  gap: 5px;

  .input-password{
    input{
      width: 240px;
      height: 20px;
      padding-left: 5px;
      border: 1px solid black;
      border-radius: 3px;
    }
  }

  .strength-elems{
    display: flex;
    flex-direction: row;
    gap: 5px;

    .element{
      flex: 1;
      height: 10px;
      border:none;
      border-radius: 3px;
    }

    .first{
      background: gray;
    }

    .second{
      background: gray;
    }

    .third{
      background: gray;
    }
  }
}
