*{
  font-family: Roboto, ui-serif;
}

.container{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .title{
    font-family: Roboto, ui-serif;
    font-weight: 500;
    font-size: 24px;
    color: darkgreen;
  }
}
